.jiyuan{ background:url("jiyuan.png") top left no-repeat; }
.深圳社区家园网_r6_c12{ width:56px; height:55px; background-position:-10px -10px; }
.深圳社区家园网_r6_c7{ width:56px; height:55px; background-position:-10px -75px; }
.深圳社区家园网_r6_c3{ width:56px; height:55px; background-position:-10px -140px; }
.深圳社区家园网_r8_c13{ width:56px; height:55px; background-position:-10px -205px; }
.深圳社区家园网_r9_c8{ width:56px; height:55px; background-position:-10px -270px; }
.深圳社区家园网_r8_c2{ width:56px; height:55px; background-position:-10px -335px; }
.深圳社区家园网_r3_c12{ width:56px; height:55px; background-position:-10px -400px; }
.深圳社区家园网_r3_c6{ width:56px; height:55px; background-position:-10px -465px; }
.深圳社区家园网_r3_c6_1{ width:56px; height:55px; background-position:-10px -530px; }
.深圳社区家园网_r2_c3{ width:56px; height:55px; background-position:-10px -595px; }

